<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182390633028-8o5egdull0er9k9o8tj5appb662p7acn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182390633028-8o5egdull0er9k9o8tj5appb662p7acn</string>
	<key>API_KEY</key>
	<string>AIzaSyBxBNFznUtr42tPm3WW35ko-gxBuzaVK9U</string>
	<key>GCM_SENDER_ID</key>
	<string>182390633028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMaps</string>
	<key>PROJECT_ID</key>
	<string>flutter-maps-37bc5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-maps-37bc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182390633028:ios:6f5d767a25b51ed8bf0211</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-maps-37bc5.firebaseio.com</string>
</dict>
</plist>